body {
    display: flex;
    flex-direction: column;
    margin: 10px;
    font-family: Robot, sans-serif;
}

.header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: #1F2937;
    color: #f9faf8;
    padding-bottom: 40px;
}

.hero {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: #1F2937;
}


/*underneath is color and text adjustments*/
ul {
    display: flex;
    list-style-type: none;
    text-decoration: none;
}