body {
    display: flex;
    flex-direction: column;
    margin: 10px;
    font-family: Robot, sans-serif;
}

.header {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;

}

.hero {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}