body {
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
}

.header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 40px;
    background: #1F2937;
    color: #f9faf8;
    gap: 200px;
}

.logo {
    font-size: 24px;
    font-weight: 600;
}

ul {
    display: flex;
    list-style-type: none;
    text-decoration: none;
    gap: 20px;
}
a {
    text-decoration: none;
    font-size: 24px;
    color: #f9faf8;
}
.containerhero {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #1F2937;
    gap: 200px;
    padding: 120px;
}
.text {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}
.subtext {
    display: flex;
    font-size: 18px;
    color: #e5e7eb;
}

button {
    background: #3882f6;
    color: #f9faf8;
    font-family: roboto, sans-serif;
    border-radius: 5px;
    width: 100px;
    height: 30px;
    
}
.placeholder {
    justify-content: center;
    background: #e5e7eb;
    width: 600px;
    height: 200px;
    
}

.information {
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}
.images {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 60px;
    padding: 50px;
}
    
img {
    width: 200px;
    height: 200px;
    border-radius: 5px;
    border: 3px solid #3882f6;
}

.imagetext {
    width: 200px;
    font-size: 14px;
}

.quotecontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    background-color: #e5e7eb;
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    padding-top: 80px;
}
.quotetext {
    width: 600px;
    height: 200px;
}
p {
   font-size: 14px;
   font-style: normal;
   width: 180px;
   font-weight: 700;
}

.ctacontainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    padding: 50px;
    margin: 100px;
    margin-left: 100px;
    margin-right: 100px;
    background: #3882f6;
    border-radius: 8px;
    
}
.ctaheadertext, .ctasub {
    display: flex;
    flex-direction: row;
    background: #3882f6;
    width: 600px;
}

.ctaheadertext {
    color: #e5e7eb;
    font-weight: 800;
    font-size: 24px;

}
.ctasub {
    font-size: 18px;
    color: #e5e7eb;
    font-weight: 100;
}
.ctabutton {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #3882f6;
    border: 3px solid #e5e7eb;
    padding: 15px;

}
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1F2937;
    color: #e5e7eb;
    font-size: 14px;
    height: 60px;
}


